# Python virtual environments
.env/
.venv/
env/
venv/
.env*
.env
# PyCharm IDE config
.idea/
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
keys
# Distribution / packaging
build/
dist/
*.egg-info/

Backups
run.py
# VSCode
.vscode/
logs/
# Logs
*.log
myenv
# OS files
.DS_Store
Thumbs.db
